@use '../utils' as *;

.box {
  padding: 3rem;
  &__photo {
    margin-bottom: 2.1875rem;
  }
  &__header {
    margin-bottom: 1.5625rem;
  }
  &__text {
    margin-bottom: 1.5625rem;
  }
}

@media (min-width: $desktop-size) {
  .box__text {
    width: auto;
    margin-bottom: 5.1875rem;
  }
}
